* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
    font-family: Nunito;

}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 10vh;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    background: white;
}

nav {
    display: flex;
    border: 0px solid green;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding-left: 1rem;
    color: black;
}

li a {
    color: black;
}

a {
    text-decoration: none;
}

.logo {
    width: 10%;
    font-size: 1.5rem;
    font-weight: 500;
}

ul {
    width: 40%;
}


#nav-toggle{
    background: none;
    border: none;
    font-size: 2rem;
    padding: 2rem;
    display: none;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.dropdownmenu {
    position: absolute;
    width: 120px;
    height: 100px;
    border: 0px solid blueviolet;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    display: none;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdownmenu {
    display: flex;
    transition: 0.4s;
    cursor: pointer;
}

.dropdownmenu li a:hover {
    color: blue;
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: end;
}

.buttons a {

    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border-radius: 1.3rem;
}

.buttons a:nth-child(1) {
    background: white;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 0.5rem;
}

.buttons a:nth-child(1):hover {
    background: white;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0);
    margin-right: 0.5rem;
}

.buttons a:nth-child(2) {
    background: #5489ff;
    color: white;
    border: 1px solid #5489ff;
}

section#home {
    width: 84%;
    height: 100vh;
    border: 0px solid purple;
    margin-top: 10%;
    z-index: 0;
    display: flex;
}

section#home .col:nth-child(1) {
    width: 40%;
    border: 0px solid blue;
    height: 72%;
}

section#home .col:nth-child(2) {
    width: 60%;
    height: 72%;
    border: 0px solid red;
    background: url(images/home.svg);
    background-size: cover;
}

section#home h1 {
    font-size: 4.1rem;
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#home h3 {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 300;
}


section#home .col:nth-child(1) .homebuttons {
    width: 100%;
    height: 100px;
    border: 0px solid red;
    margin-top: 1.5rem;
}

section#home .col:nth-child(1) .homebuttons a:nth-child(1) {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    background: #5489ff;
    color: white;
    border-radius: 1.3rem;
}

section#home .col:nth-child(1) .homebuttons a:nth-child(2) {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border: 1px solid #5489ff;
    color: #5489ff;
    border-radius: 1.3rem;
}

section#home .col:nth-child(1) .homebuttons a:nth-child(2):hover {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border: 1px solid #5489ff;
    background: #5489ff;
    color: white;
    border-radius: 1.3rem;
}


/* design this for about section */


section#about {
    width: 84%;
    height: 100vh;
    border: 0px solid purple;
    margin-top: 10%;
    z-index: 0;
    display: flex;
}

section#about .col:nth-child(1) {
    width: 40%;
    border: 0px solid blue;
    height: 72%;
}

section#about .col:nth-child(2) {
    width: 60%;
    height: 72%;
    border: 0px solid red;
    background: url(images/dashboard.jpg.webp);
    background-size: cover;
}

section#about h1 {
    font-size: 4.1rem;
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#about h3 {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 300;
}


section#about .col:nth-child(1) .homebuttons {
    width: 100%;
    height: 100px;
    border: 0px solid red;
    margin-top: 1.5rem;
}

section#about .col:nth-child(1) .homebuttons a:nth-child(1) {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    background: #5489ff;
    color: white;
    border-radius: 1.3rem;
}

section#about .col:nth-child(1) .homebuttons a:nth-child(2) {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border: 1px solid #5489ff;
    color: #5489ff;
    border-radius: 1.3rem;
}

section#about .col:nth-child(1) .homebuttons a:nth-child(2):hover {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border: 1px solid #5489ff;
    background: #5489ff;
    color: white;
    border-radius: 1.3rem;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(red, black, blue);
    opacity: 0;
    transition: 0.8;
}

.gradient:hover {
    cursor: pointer;
    opacity: 0.4;
}

@media (max-width:750px) {
    ul {
        display: block;
        position: absolute;
        right: 0;
        border: 0 solid red;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 4rem 2rem 4rem 2rem;
        height: 100vh;
        top: 0;
        background-color: white;
        width: 50%;
        transform: translateX(100%);
        transition: 0.6s;
    }

    ul li{
        padding: 1rem;

    }

    ul[data-visible="true"]{
        transform: translateX(0%);
    }

    ul li:hover{
        background: #5489ff;
        
    }

    ul li:hover a{
        color: white;
    }
    .logo {
        width: 50%;
    }

    .buttons a {
        padding: 0.3rem 1.8rem 0.3rem 1.8rem;
        display: flex;
        align-items: center;
        border-radius: 1.8rem;
    }

    #nav-toggle{
        display: block;
    }

    section#home {
        margin-top: 20%;
        flex-wrap: wrap;
        height: auto;
    }

    section#home .col:nth-child(1) {
        width: 100%;

    }

    section#about {
        flex-wrap: wrap;
        height: auto;
    }

    section#about .col:nth-child(1) {
        width: 100%;

    }


}