* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 12vh;
    border: 0px solid red;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
}

select {
    width: 20%;
    margin-right: 1rem;
    background: white;
    height: 50px;
    border-radius: 1rem;
    padding: 1rem;
}

.stats {
    width: 100%;
    height: 20vh;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat{
    width: 15%;
    height: 90px;
    border: 0px solid green;
    background: red;
    border-radius: 0.5rem;
}

.graph{
    width: 100%;
    height: 30vh;
    border: 0px solid red;
    display: flex;
}

.view{
    width: 80%;
    height: 100%;
    border: 0px solid black;
    color: red;
    padding: 1rem;
}

.device{
    width: 20%;
    height: 100%;
    border: 0px solid green;
    color: red;
    padding: 1rem;
}

.view .image{
    width: 100%;
     height: 90%;
     border: 2px  solid red;
     border-radius: 10px;
     background: url(chart.jpg);
     background-repeat: no-repeat;
    
}

.device .image{
    width: 100% ;
    height: 90%;
    border: 2px solid red;
     border-radius: 10px;

}

.chart{
    width: 100%;
    height: 40vh;
    border: 0px solid blue;
    display: flex;
}

.chart .view{
    width: 40%;
    height: 100%;
}

.chart .device{
    width: 60%;
    height: 100%;
}