*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #f3f3f3;
}

header{
    width: 100%;
    height: 10vh;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.first{
    width: 20%;
    height: 100%;
    border: 0px solid blue;
    /* margin-left: 2rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-radius: 2rem;
}

.first a{
    text-decoration: none;
    color: black;
}

.second{
    width: 20%;
    height: 100%;
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-radius: 2rem;
    /* margin-right: 2rem; */
}

.second a{
    text-decoration: none;
    color: #000;
}